
CREATE DATABASE /*!32312 IF NOT EXISTS*/ `pharmacy` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `pharmacy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `about_review` (
  `UserId` int NOT NULL,
  `ReviewId` int NOT NULL,
  `ProductId` int DEFAULT NULL,
  PRIMARY KEY (`UserId`,`ReviewId`),
  KEY `ReviewId` (`ReviewId`),
  KEY `ProductId` (`ProductId`) /*!80000 INVISIBLE */,
  CONSTRAINT `About_Review_ibfk_1` FOREIGN KEY (`ReviewId`) REFERENCES `reviews` (`ReviewId`),
  CONSTRAINT `About_Review_ibfk_2` FOREIGN KEY (`ProductId`) REFERENCES `product` (`ProductId`) ON DELETE SET NULL,
  CONSTRAINT `About_Review_ibfk_3` FOREIGN KEY (`UserId`) REFERENCES `buyer` (`UserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `UserId` int NOT NULL,
  PRIMARY KEY (`UserId`),
  CONSTRAINT `Admin_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `admin` VALUES (1);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bank_card` (
  `PaymentId` int NOT NULL,
  `CardNumber` varchar(30) DEFAULT NULL,
  `FromCompany` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`PaymentId`),
  CONSTRAINT `Bank_Card_ibfk_1` FOREIGN KEY (`PaymentId`) REFERENCES `payment` (`PaymentId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `bank_card` VALUES (2,'fff','ffff'),(3,'123123123','VCB'),(5,'fdsfsdfsdf','dfsdfsdfds');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buyer` (
  `UserId` int NOT NULL,
  `LoyaltyPoint` int DEFAULT '0',
  PRIMARY KEY (`UserId`),
  CONSTRAINT `Buyer_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`),
  CONSTRAINT `chk_loyalty_point` CHECK ((`LoyaltyPoint` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `buyer` VALUES (6,0),(8,0),(9,0),(13,0),(15,0),(16,0);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart` (
  `CartId` int NOT NULL AUTO_INCREMENT,
  `CreationDate` date DEFAULT NULL,
  `UserId` int NOT NULL,
  PRIMARY KEY (`CartId`),
  KEY `UserId` (`UserId`),
  CONSTRAINT `Cart_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `cart` VALUES (3,'2025-11-14',6),(4,'2025-11-17',9),(5,'2025-11-17',13),(6,'2025-11-17',15),(7,'2025-11-17',1),(8,'2025-11-17',16);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cartitem` (
  `CartId` int NOT NULL,
  `CartItemId` int NOT NULL,
  PRIMARY KEY (`CartId`,`CartItemId`),
  CONSTRAINT `CartItem_ibfk_1` FOREIGN KEY (`CartId`) REFERENCES `cart` (`CartId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `cartitem` VALUES (6,1),(6,2),(6,3),(6,4),(7,1),(7,2),(8,1),(8,2);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cartitem_detail` (
  `CartId` int NOT NULL,
  `CartItemId` int NOT NULL,
  `ProductId` int NOT NULL,
  `Amount` int DEFAULT NULL,
  PRIMARY KEY (`CartId`,`CartItemId`),
  KEY `ProductId` (`ProductId`),
  CONSTRAINT `CartItem_detail_ibfk_1` FOREIGN KEY (`CartId`, `CartItemId`) REFERENCES `cartitem` (`CartId`, `CartItemId`),
  CONSTRAINT `CartItem_detail_ibfk_2` FOREIGN KEY (`ProductId`) REFERENCES `product` (`ProductId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_on_delivery` (
  `PaymentId` int NOT NULL,
  PRIMARY KEY (`PaymentId`),
  CONSTRAINT `Cash_on_Delivery_ibfk_1` FOREIGN KEY (`PaymentId`) REFERENCES `payment` (`PaymentId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `cash_on_delivery` VALUES (1),(6),(8),(10);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `CategoryId` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(50) NOT NULL,
  `Description` text,
  PRIMARY KEY (`CategoryId`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `category` VALUES (1,'Pain Relief & Anti-inflammatory','For short-term disease'),(2,'Antibiotic & Allergy','For long-term disease');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `create_promotion` (
  `UserId` int DEFAULT NULL,
  `PromoId` int NOT NULL,
  `ProductId` int NOT NULL,
  PRIMARY KEY (`PromoId`,`ProductId`),
  KEY `ProductId` (`ProductId`),
  KEY `UserId` (`UserId`),
  CONSTRAINT `Create_Promotion_ibfk_1` FOREIGN KEY (`PromoId`) REFERENCES `promotion` (`PromoId`),
  CONSTRAINT `Create_Promotion_ibfk_2` FOREIGN KEY (`ProductId`) REFERENCES `product` (`ProductId`) ON DELETE CASCADE,
  CONSTRAINT `Create_Promotion_ibfk_3` FOREIGN KEY (`UserId`) REFERENCES `sales_manager` (`UserId`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `create_promotion` VALUES (10,1,3),(10,2,4),(10,3,3),(10,3,4),(10,3,5),(10,3,6);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ewallet` (
  `PaymentId` int NOT NULL,
  `WalletNumber` varchar(30) DEFAULT NULL,
  `FromCompany` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`PaymentId`),
  CONSTRAINT `EWallet_ibfk_1` FOREIGN KEY (`PaymentId`) REFERENCES `payment` (`PaymentId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `ewallet` VALUES (4,'0999999999','Momo'),(7,'0999999999','Momo'),(9,'0888888888','Zalo');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order` (
  `OrderId` int NOT NULL AUTO_INCREMENT,
  `Status` varchar(50) NOT NULL,
  `OrderDate` date NOT NULL,
  `UserId` int NOT NULL,
  PRIMARY KEY (`OrderId`),
  KEY `UserId` (`UserId`),
  CONSTRAINT `Order_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`),
  CONSTRAINT `chk_order_status` CHECK ((`Status` in (_utf8mb4'Pending',_utf8mb4'Completed',_utf8mb4'Cancelled')))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `order` VALUES (1,'Completed','2025-11-17',9),(2,'Pending','2025-11-17',9),(3,'Pending','2025-11-17',9),(4,'Pending','2025-11-17',9),(5,'Completed','2025-11-17',9),(6,'Completed','2025-11-17',9),(7,'Pending','2025-11-17',9),(8,'Completed','2025-11-17',9),(9,'Pending','2025-11-17',9),(10,'Completed','2025-11-17',13),(11,'Pending','2025-11-17',15);
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_increase_stock_on_cancel` AFTER UPDATE ON `order` FOR EACH ROW BEGIN
    IF OLD.Status <> 'Cancelled' AND NEW.Status = 'Cancelled' THEN
        UPDATE Product
        SET Stock = Stock + (
            SELECT IFNULL(SUM(OAD.Quantity), 0)
            FROM Order_are_Detail AS OAD
            JOIN OrderDetail AS OD ON OD.OrdDetail_id = OAD.OrdDetail_id
            WHERE OD.OrderId = NEW.OrderId
              AND OAD.ProductId = Product.ProductId
        )
        WHERE Product.ProductId IN (
            SELECT OAD.ProductId
            FROM Order_are_Detail AS OAD
            JOIN OrderDetail AS OD ON OD.OrdDetail_id = OAD.OrdDetail_id
            WHERE OD.OrderId = NEW.OrderId
        );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_are_detail` (
  `OrdDetail_id` int NOT NULL,
  `OrderId` int NOT NULL,
  `ProductId` int NOT NULL,
  `Quantity` int NOT NULL,
  `TotalAmount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`OrdDetail_id`,`OrderId`,`ProductId`),
  KEY `ProductId` (`ProductId`),
  CONSTRAINT `Order_are_Detail_ibfk_1` FOREIGN KEY (`OrdDetail_id`, `OrderId`) REFERENCES `orderdetail` (`OrdDetail_id`, `OrderId`),
  CONSTRAINT `Order_are_Detail_ibfk_2` FOREIGN KEY (`ProductId`) REFERENCES `product` (`ProductId`) ON DELETE CASCADE,
  CONSTRAINT `chk_order_detail_qty` CHECK ((`Quantity` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `order_are_detail` VALUES (1,3,3,1,20000.00),(1,4,3,1,20000.00),(1,5,3,5,100000.00),(1,6,4,1,30000.00),(1,7,3,1,20000.00),(1,8,3,1,20000.00),(1,10,4,4,280000.00),(1,11,5,1,123000.00),(2,1,5,2,246000.00),(2,3,5,1,123000.00),(2,4,6,1,50000.00),(2,8,6,1,50000.00),(2,9,5,5,615000.00),(2,10,6,3,150000.00),(3,1,3,25,500000.00),(4,2,3,6,120000.00),(5,2,4,1,30000.00);
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_check_null_before_insert` BEFORE INSERT ON `order_are_detail` FOR EACH ROW BEGIN
    IF NEW.ProductId IS NULL OR NEW.Quantity IS NULL OR NEW.OrdDetail_id IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Error: Missing required value (ProductId, Quantity, or OrdDetail_id cannot be NULL)';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_check_stock_before_insert` BEFORE INSERT ON `order_are_detail` FOR EACH ROW BEGIN
    DECLARE current_stock INT;

    SELECT Stock INTO current_stock
    FROM Product
    WHERE ProductId = NEW.ProductId;

    IF current_stock IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Error: Product does not exist.';
    ELSEIF NEW.Quantity > current_stock THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Error: Ordered quantity exceeds available stock.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_calc_totalamount_before_insert` BEFORE INSERT ON `order_are_detail` FOR EACH ROW BEGIN
    -- Ph├▓ng tr╞░ß╗¥ng hß╗úp Quantity null
    IF NEW.Quantity IS NULL THEN
        SET NEW.Quantity = 0;
    END IF;

    -- T├¡nh tß╗òng tiß╗ün: sß╗æ l╞░ß╗úng * gi├í cuß╗æi c├╣ng (─æ├ú ├íp dß╗Ñng khuyß║┐n m├úi)
    SET NEW.TotalAmount = NEW.Quantity * fn_GetFinalProductPrice(NEW.ProductId);
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_decrease_stock_after_order` AFTER INSERT ON `order_are_detail` FOR EACH ROW BEGIN
    UPDATE Product
    -- SET Stock = Stock - (
    --     SELECT IFNULL(SUM(OAD.Quantity), 0)
    --     FROM Order_are_Detail AS OAD
    --     WHERE OAD.OrdDetail_id = NEW.OrdDetail_id
    --       AND OAD.ProductId = Product.ProductId
    -- )
    SET Stock = Stock - NEW.Quantity
    -- WHERE Product.ProductId IN (
    --     SELECT ProductId
    --     FROM Order_are_Detail
    --     WHERE OrdDetail_id = NEW.OrdDetail_id
    -- );
    WHERE ProductId = NEW.ProductId;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_with_shipment` (
  `ShipmentId` int NOT NULL,
  `OrderId` int NOT NULL,
  PRIMARY KEY (`ShipmentId`),
  KEY `OrderId` (`OrderId`),
  CONSTRAINT `Order_with_Shipment_ibfk_1` FOREIGN KEY (`ShipmentId`) REFERENCES `shipment` (`ShipmentId`),
  CONSTRAINT `Order_with_Shipment_ibfk_2` FOREIGN KEY (`OrderId`) REFERENCES `order` (`OrderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `order_with_shipment` VALUES (1,5),(2,6),(3,6),(4,7),(5,8),(6,9),(7,10),(8,11);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orderdetail` (
  `OrdDetail_id` int NOT NULL,
  `OrderId` int NOT NULL,
  PRIMARY KEY (`OrdDetail_id`,`OrderId`),
  KEY `OrderId` (`OrderId`),
  CONSTRAINT `OrderDetail_ibfk_1` FOREIGN KEY (`OrderId`) REFERENCES `order` (`OrderId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `orderdetail` VALUES (2,1),(3,1),(4,2),(5,2),(1,3),(2,3),(1,4),(2,4),(1,5),(1,6),(1,7),(1,8),(2,8),(1,9),(2,9),(1,10),(2,10),(1,11);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `organize_in_category` (
  `ProductId` int NOT NULL,
  `CategoryId` int NOT NULL,
  PRIMARY KEY (`ProductId`),
  KEY `CategoryId` (`CategoryId`),
  CONSTRAINT `Organize_in_category_ibfk_1` FOREIGN KEY (`ProductId`) REFERENCES `product` (`ProductId`) ON DELETE CASCADE,
  CONSTRAINT `Organize_in_category_ibfk_2` FOREIGN KEY (`CategoryId`) REFERENCES `category` (`CategoryId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `organize_in_category` VALUES (3,1),(4,1),(5,2),(6,2);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `PaymentId` int NOT NULL AUTO_INCREMENT,
  `PayDate` date NOT NULL,
  `Amount` decimal(10,2) NOT NULL,
  `Status` varchar(50) NOT NULL,
  `Creation_Date` date DEFAULT NULL,
  `OrderId` int NOT NULL,
  PRIMARY KEY (`PaymentId`),
  KEY `fk_Payment_Order_idx` (`OrderId`),
  CONSTRAINT `fk_Payment_Order` FOREIGN KEY (`OrderId`) REFERENCES `order` (`OrderId`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `payment` VALUES (1,'2025-11-17',746000.00,'Pending',NULL,1),(2,'2025-11-17',746000.00,'Completed',NULL,1),(3,'2025-11-17',100000.00,'Completed',NULL,5),(4,'2025-11-17',30000.00,'Completed',NULL,6),(5,'2025-11-17',30000.00,'Completed',NULL,6),(6,'2025-11-17',20000.00,'Pending',NULL,7),(7,'2025-11-17',70000.00,'Completed',NULL,8),(8,'2025-11-17',675000.00,'Pending',NULL,9),(9,'2025-11-17',430000.00,'Completed',NULL,10),(10,'2025-11-17',123000.00,'Pending',NULL,11);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `ProductId` int NOT NULL AUTO_INCREMENT,
  `ProductCode` varchar(20) DEFAULT NULL,
  `Price` decimal(10,2) NOT NULL,
  `Name` varchar(50) NOT NULL,
  `Stock` int NOT NULL,
  `Description` text,
  PRIMARY KEY (`ProductId`),
  UNIQUE KEY `ProductCode` (`ProductCode`),
  CONSTRAINT `chk_product_price` CHECK ((`Price` > 0)),
  CONSTRAINT `chk_product_stock` CHECK ((`Stock` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_product_prefix` BEFORE INSERT ON `product` FOR EACH ROW BEGIN
    DECLARE next_id INT;

    -- Lß║Ñy ID tiß║┐p theo nß║┐u ProductId ch╞░a ─æ╞░ß╗úc set (auto increment)
    IF NEW.ProductId IS NULL THEN
        SELECT AUTO_INCREMENT INTO next_id
        FROM information_schema.TABLES
        WHERE TABLE_SCHEMA = DATABASE()
          AND TABLE_NAME = 'product';
    ELSE
        SET next_id = NEW.ProductId;
    END IF;

    -- Sinh m├ú dß║íng PIDxxx
    SET NEW.ProductCode = CONCAT('PID', LPAD(next_id, 3, '0'));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotion` (
  `PromoId` int NOT NULL AUTO_INCREMENT,
  `Type` varchar(50) NOT NULL,
  `StartPeriod` date NOT NULL,
  `EndPeriod` date NOT NULL,
  `Value` decimal(10,2) NOT NULL,
  PRIMARY KEY (`PromoId`),
  CONSTRAINT `chk_promo_period` CHECK ((`StartPeriod` <= `EndPeriod`))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `promotion` VALUES (1,'Discount','2025-10-12','2026-10-12',40000.00),(2,'Discount','2025-09-14','2025-12-02',60000.00),(3,'FirstUser','2025-08-12','2025-12-31',80000.00);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refer_id` (
  `Referee_Id` int NOT NULL,
  `Referrer_Id` int NOT NULL,
  `ReferDate` date DEFAULT NULL,
  `ReferredId` int DEFAULT NULL,
  PRIMARY KEY (`Referee_Id`),
  KEY `Referrer_Id` (`Referrer_Id`),
  CONSTRAINT `Refer_Id_ibfk_1` FOREIGN KEY (`Referee_Id`) REFERENCES `buyer` (`UserId`),
  CONSTRAINT `Refer_Id_ibfk_2` FOREIGN KEY (`Referrer_Id`) REFERENCES `buyer` (`UserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report` (
  `ReportId` int NOT NULL AUTO_INCREMENT,
  `Content` text,
  `ReportType` varchar(50) DEFAULT NULL,
  `CreationDate` date NOT NULL,
  `UserId` int NOT NULL,
  PRIMARY KEY (`ReportId`),
  KEY `UserId` (`UserId`),
  CONSTRAINT `Report_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `admin` (`UserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `ReviewId` int NOT NULL AUTO_INCREMENT,
  `Rating` int DEFAULT NULL,
  `Content` text,
  PRIMARY KEY (`ReviewId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_manager` (
  `UserId` int NOT NULL,
  PRIMARY KEY (`UserId`),
  CONSTRAINT `Sales_Manager_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `sales_manager` VALUES (1),(10);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shipment` (
  `ShipmentId` int NOT NULL AUTO_INCREMENT,
  `ShippingDate` date NOT NULL,
  `Status` varchar(50) NOT NULL,
  PRIMARY KEY (`ShipmentId`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `shipment` VALUES (1,'2025-11-17','Preparing'),(2,'2025-11-17','Preparing'),(3,'2025-11-17','Preparing'),(4,'2025-11-17','Preparing'),(5,'2025-11-17','Preparing'),(6,'2025-11-17','Preparing'),(7,'2025-11-17','Preparing'),(8,'2025-11-17','Preparing');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shipment_third_party` (
  `ShipmentId` int NOT NULL,
  `ThirdPartyId` int NOT NULL,
  `ShipperId` int DEFAULT NULL,
  PRIMARY KEY (`ShipmentId`),
  KEY `ThirdPartyId` (`ThirdPartyId`),
  CONSTRAINT `Shipment_Third_Party_ibfk_1` FOREIGN KEY (`ShipmentId`) REFERENCES `shipment` (`ShipmentId`),
  CONSTRAINT `Shipment_Third_Party_ibfk_2` FOREIGN KEY (`ThirdPartyId`) REFERENCES `thirdparty` (`ThirdPartyId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `shipment_third_party` VALUES (1,1,1),(2,1,1),(3,1,1),(4,1,1),(5,1,1),(6,1,1),(7,1,1),(8,1,1);
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thirdparty` (
  `ThirdPartyId` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Website` varchar(255) DEFAULT NULL,
  `Address` varchar(255) NOT NULL,
  `ContactInfo` varchar(255) NOT NULL,
  PRIMARY KEY (`ThirdPartyId`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `thirdparty` VALUES (1,'giaohangtietkiem','giaohangtietkiem.com','so 3 ton that tung','Phone number'),(2,'viettel fast','viettel.com.vn','district 1','Phone number');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thirdparty_hotline` (
  `ThirdPartyId` int NOT NULL,
  `AHotline` varchar(20) NOT NULL,
  PRIMARY KEY (`ThirdPartyId`,`AHotline`),
  CONSTRAINT `ThirdParty_Hotline_ibfk_1` FOREIGN KEY (`ThirdPartyId`) REFERENCES `thirdparty` (`ThirdPartyId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `thirdparty_hotline` VALUES (1,'02223334445'),(1,'09998887763'),(2,'04448882229');
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `UserId` int NOT NULL AUTO_INCREMENT,
  `Dob` date NOT NULL,
  `Address` varchar(255) NOT NULL,
  `Fname` varchar(50) NOT NULL,
  `Lname` varchar(50) NOT NULL,
  `Email` varchar(50) NOT NULL,
  `Username` varchar(50) NOT NULL,
  `HashedPassword` varchar(255) NOT NULL,
  PRIMARY KEY (`UserId`),
  UNIQUE KEY `Username` (`Username`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `check_duplicate_username` BEFORE INSERT ON `user` FOR EACH ROW begin 
	if exists (select 1 from User where Username = New.Username) then
	SIGNAL SQLSTATE '45000'
	set MESSAGE_TEXT = "T├¬n ─æ─âng nhß║¡p ─æ├ú c├│, chß╗ìn t├¬n ";
	end if;
end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `check_age_before_add_to_user` BEFORE INSERT ON `user` FOR EACH ROW BEGIN
    DECLARE age INT;

    -- T├¡nh tuß╗òi
    SET age = TIMESTAMPDIFF(YEAR, NEW.Dob, CURDATE());

    -- Kiß╗âm tra nß║┐u < 18 tuß╗òi th├¼ b├ío lß╗ùi
    IF age < 18 or age > 94 THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Tuß╗òi kh├┤ng hß╗úp lß╗ç.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userphone` (
  `UserId` int NOT NULL,
  `APhoneNumber` varchar(20) NOT NULL,
  PRIMARY KEY (`UserId`,`APhoneNumber`),
  CONSTRAINT `UserPhone_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `user` (`UserId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
INSERT INTO `userphone` VALUES (1,'0901234567'),(6,'0912345678'),(8,'0934567890'),(10,'0999999999');
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_check_phone_before_insert` BEFORE INSERT ON `userphone` FOR EACH ROW BEGIN
    -- Kiß╗âm tra ─æß╗Ö d├ái kh├íc 10
    IF CHAR_LENGTH(NEW.APhoneNumber) <> 10 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Error: Phone number must have exactly 10 digits.';
    END IF;

    -- Kiß╗âm tra k├╜ tß╗▒ ─æß║ºu ti├¬n c├│ phß║úi l├á '0'
    IF LEFT(NEW.APhoneNumber, 1) <> '0' THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Error: Phone number must start with 0.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_topbuyers` AS SELECT 
 1 AS `UserId`,
 1 AS `TotalSpent`*/;
SET character_set_client = @saved_cs_client;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_topproducts` AS SELECT 
 1 AS `ProductId`,
 1 AS `TotalSold`*/;
SET character_set_client = @saved_cs_client;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_topsellingproducts` AS SELECT 
 1 AS `ProductId`,
 1 AS `Name`,
 1 AS `TotalSold`*/;
SET character_set_client = @saved_cs_client;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` FUNCTION `fn_CountProductByCategory`(catId INT) RETURNS int
    READS SQL DATA
BEGIN
    DECLARE cnt INT;
    
    -- MODIFIED: Join with 'Organize_in_category'
    -- The 'Product' table no longer has a 'CategoryId' column.
    SELECT COUNT(*) INTO cnt 
    FROM `Product` p
    JOIN `Organize_in_category` oic ON p.ProductId = oic.ProductId
    WHERE oic.CategoryId = catId;
    
    RETURN cnt;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` FUNCTION `fn_GetFinalProductPrice`(
    p_ProductId INT
) RETURNS decimal(10,2)
    READS SQL DATA
BEGIN
    DECLARE v_BasePrice DECIMAL(10,2);
    DECLARE v_PromoType VARCHAR(50);
    DECLARE v_PromoValue DECIMAL(10,2);
    DECLARE v_FinalPrice DECIMAL(10,2);

    -- 1. Get the base price
    SELECT Price INTO v_BasePrice FROM Product WHERE ProductId = p_ProductId;
    SET v_FinalPrice = v_BasePrice; -- Default to base price

    -- 2. Find an active promotion for this product
    SELECT 
        p.Type, p.Value
    INTO v_PromoType, v_PromoValue
    FROM `Promotion` p
    JOIN `Create_Promotion` cp ON p.PromoId = cp.PromoId
    WHERE 
        cp.ProductId = p_ProductId
        AND NOW() BETWEEN p.StartPeriod AND p.EndPeriod -- Check if promo is active
    LIMIT 1; -- Get the first active promo (nß║┐u c├│ nhiß╗üu)

    -- 3. Calculate final price if a promo was found
    IF v_PromoType IS NOT NULL THEN
        IF v_PromoType = 'PERCENT' THEN
            -- Giß║úm theo % (Vd: Value = 10.00 ngh─⌐a l├á giß║úm 10%)
            SET v_FinalPrice = v_BasePrice * (1 - (v_PromoValue / 100.0));
        ELSEIF v_PromoType = 'FIXED_AMOUNT' THEN
            -- Giß║úm tiß╗ün cß╗æ ─æß╗ïnh (Vd: Value = 10000 ngh─⌐a l├á giß║úm 10.000─æ)
            SET v_FinalPrice = v_BasePrice - v_PromoValue;
        END IF;
        
        -- Ensure price doesn't go below zero
        IF v_FinalPrice < 0 THEN
            SET v_FinalPrice = 0;
        END IF;
    END IF;

    RETURN v_FinalPrice;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` FUNCTION `fn_LoyaltyLevel`(buyerId INT) RETURNS varchar(20) CHARSET utf8mb4
    READS SQL DATA
BEGIN
    DECLARE points INT;
    DECLARE level VARCHAR(20);
    SELECT LoyaltyPoint INTO points FROM Buyer WHERE UserId = buyerId;

    IF points >= 100 THEN
        SET level = 'Gold';
    ELSEIF points >= 50 THEN
        SET level = 'Silver';
    ELSE
        SET level = 'Bronze';
    END IF;

    RETURN level;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` FUNCTION `fn_TotalSpentByBuyer`(buyerId INT) RETURNS decimal(12,2)
    READS SQL DATA
BEGIN
    DECLARE total DECIMAL(12,2);
    
    -- MODIFIED: Must join the multi-table 'Order' structure
    SELECT IFNULL(SUM(oad.TotalAmount), 0)
    INTO total
    FROM `Order_are_Detail` oad
    JOIN `OrderDetail` od ON oad.OrdDetail_id = od.OrdDetail_id AND oad.OrderId = od.OrderId
    JOIN `Order` o ON od.OrderId = o.OrderId
    WHERE o.UserId = buyerId; -- UserId is on the 'Order' table
    
    RETURN total;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddBankPayment`(
    IN p_OrderId INT,
    IN p_Amount DECIMAL(10,2),
    IN p_CardNumber VARCHAR(30),
    IN p_FromCompany VARCHAR(100)
)
BEGIN
    DECLARE v_PaymentId INT;
    START TRANSACTION;
    
    -- Insert into parent table
    INSERT INTO Payment (OrderId, Amount, PayDate, Status)
    VALUES (p_OrderId, p_Amount, NOW(), 'Completed');
    
    SET v_PaymentId = LAST_INSERT_ID();
    
    -- Insert into child table
    INSERT INTO Bank_Card (PaymentId, CardNumber, FromCompany)
    VALUES (v_PaymentId, p_CardNumber, p_FromCompany);
    
    -- Update order status --
    UPDATE `Order`
        SET `Status` = 'Completed'
        WHERE `OrderId` = p_OrderId;
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddBuyerAccount`(
    IN p_fname VARCHAR(50),
    IN p_lname VARCHAR(50),
    IN p_email VARCHAR(50),
    IN p_username VARCHAR(50),
    IN p_hashed VARCHAR(255),
    IN p_dob DATE,
    IN p_address VARCHAR(255)
)
BEGIN
    DECLARE new_user_id INT;

    START TRANSACTION;

    INSERT INTO User (Fname, Lname, Email, Username, HashedPassword, Dob, Address)
    VALUES (p_fname, p_lname, p_email, p_username, p_hashed, p_dob, p_address);

    SET new_user_id = LAST_INSERT_ID();

    INSERT INTO Buyer (UserId, LoyaltyPoint)
    VALUES (new_user_id, 0);

    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddCashPayment`(
    IN p_OrderId INT,
    IN p_Amount DECIMAL(10,2)
)
BEGIN
    DECLARE v_PaymentId INT;
    START TRANSACTION;
    
    INSERT INTO Payment (OrderId, Amount, PayDate, Status)
    VALUES (p_OrderId, p_Amount, NOW(), 'Pending'); -- Status l├á 'Pending' cho COD
    
    SET v_PaymentId = LAST_INSERT_ID();
    
    INSERT INTO Cash_on_Delivery (PaymentId)
    VALUES (v_PaymentId);
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddEWalletPayment`(
    IN p_OrderId INT,
    IN p_Amount DECIMAL(10,2),
    IN p_WalletNumber VARCHAR(30),
    IN p_FromCompany VARCHAR(100)
)
BEGIN
    DECLARE v_PaymentId INT;
    START TRANSACTION;
    
    INSERT INTO Payment (OrderId, Amount, PayDate, Status)
    VALUES (p_OrderId, p_Amount, NOW(), 'Completed');
    
    SET v_PaymentId = LAST_INSERT_ID();
    
    INSERT INTO EWallet (PaymentId, WalletNumber, FromCompany)
    VALUES (v_PaymentId, p_WalletNumber, p_FromCompany);
    
    -- Update order status --
    UPDATE `Order`
        SET `Status` = 'Completed'
        WHERE `OrderId` = p_OrderId;
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddProduct`(
    IN p_Name VARCHAR(50),
    IN p_Price DECIMAL(10,2),
    IN p_Stock INT,
    IN p_Desc TEXT,
    IN p_CategoryId INT
)
BEGIN
    DECLARE v_ProductId INT;
    
    -- MODIFIED: Use a transaction to insert into two tables.
    START TRANSACTION;
    
    -- 1. Insert into 'Product' table (which no longer has CategoryId)
    INSERT INTO Product (Name, Price, Stock, Description)
    VALUES (p_Name, p_Price, p_Stock, p_Desc);
    
    -- 2. Get the new ProductId
    SET v_ProductId = LAST_INSERT_ID();
    
    -- 3. Insert the relationship into 'Organize_in_category'
    INSERT INTO Organize_in_category (ProductId, CategoryId)
    VALUES (v_ProductId, p_CategoryId);
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddProductToCart`(
    IN p_BuyerId INT,
    IN p_ProductId INT,
    IN p_Quantity INT
)
BEGIN
    DECLARE v_CartId INT;
    DECLARE v_CartItemId INT;

    -- 1. Find the active cart for the buyer (Same as before)
    SELECT CartId INTO v_CartId
    FROM Cart
    WHERE UserId = p_BuyerId
    LIMIT 1;

    -- 2. If no cart exists, create one (Same as before)
    IF v_CartId IS NULL THEN
        INSERT INTO Cart (UserId, CreationDate)
        VALUES (p_BuyerId, NOW());
        SET v_CartId = LAST_INSERT_ID();
    END IF;

    -- 3. MODIFIED: Logic for 2-table (CartItem, CartItem_detail)
    -- Check if this product already exists in the cart
    SELECT cid.CartItemId INTO v_CartItemId
    FROM `CartItem_detail` cid
    WHERE cid.CartId = v_CartId AND cid.ProductId = p_ProductId
    LIMIT 1;

    IF v_CartItemId IS NOT NULL THEN
        -- Product exists: Just update the quantity
        UPDATE `CartItem_detail`
        SET Amount = Amount + p_Quantity
        WHERE CartId = v_CartId AND CartItemId = v_CartItemId;
    ELSE
        -- Product does not exist: Must insert into both tables
        START TRANSACTION;
        
        -- Generate a new CartItemId (e.g., MAX + 1 for this cart)
        SELECT IFNULL(MAX(CartItemId), 0) + 1 INTO v_CartItemId 
        FROM `CartItem` 
        WHERE CartId = v_CartId;

        -- Insert into parent table
        INSERT INTO `CartItem` (CartId, CartItemId)
        VALUES (v_CartId, v_CartItemId);
        
        -- Insert into child detail table
        INSERT INTO `CartItem_detail` (CartId, CartItemId, ProductId, Amount)
        VALUES (v_CartId, v_CartItemId, p_ProductId, p_Quantity);
        
        COMMIT;
    END IF;
        
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddReview`(
    IN p_UserId INT,
    IN p_ProductId INT,
    IN p_Rating INT,
    IN p_Content TEXT
)
BEGIN
    DECLARE v_ReviewId INT;
    
    -- MODIFIED: Must insert into two tables
    START TRANSACTION;
    
    -- 1. Insert into the parent 'Reviews' table
    INSERT INTO Reviews (Rating, Content)
    VALUES (p_Rating, p_Content);
    
    -- 2. Get the new ReviewId
    SET v_ReviewId = LAST_INSERT_ID();
    
    -- 3. Insert into the child 'About_Review' linking table
    INSERT INTO About_Review (UserId, ReviewId, ProductId)
    VALUES (p_UserId, v_ReviewId, p_ProductId);
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddShipment`(
    IN p_OrderId INT,
    IN p_Status VARCHAR(50),
    IN p_ThirdPartyId INT,
    IN p_ShipperId INT
)
BEGIN
    DECLARE v_ShipmentId INT;

    -- MODIFIED: Must insert into three tables
    START TRANSACTION;
    
    -- 1. Create the parent 'Shipment' record
    -- (The 'Shipment' table does NOT have OrderId)
    INSERT INTO Shipment (ShippingDate, Status)
    VALUES (NOW(), p_Status);
    
    -- 2. Get the new ShipmentId
    SET v_ShipmentId = LAST_INSERT_ID();
    
    -- 3. Create the specialization record
    INSERT INTO Shipment_Third_Party (ShipmentId, ThirdPartyId, ShipperId)
    VALUES (v_ShipmentId, p_ThirdPartyId, p_ShipperId);
    
    -- 4. Create the link back to the Order
    INSERT INTO Order_with_Shipment (ShipmentId, OrderId)
    VALUES (v_ShipmentId, p_OrderId);
    
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddThirdParty`(
    IN p_Name VARCHAR(100),
    IN p_Website VARCHAR(255),
    IN p_Address VARCHAR(255),
    IN p_ContactInfo VARCHAR(255)
)
BEGIN
    INSERT INTO ThirdParty (Name, Website, Address, ContactInfo)
    VALUES (p_Name, p_Website, p_Address, p_ContactInfo);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddThirdPartyHotline`(
    IN p_ThirdPartyId INT,
    IN p_Hotline VARCHAR(20)
)
BEGIN
    INSERT INTO ThirdParty_Hotline (ThirdPartyId, AHotline)
    VALUES (p_ThirdPartyId, p_Hotline);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_AddUserPhone`(
    IN p_UserId INT,
    IN p_PhoneNumber VARCHAR(20)
)
BEGIN
    INSERT INTO UserPhone (UserId, APhoneNumber)
    VALUES (p_UserId, p_PhoneNumber);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_ApplyPromotionToProduct`(
    IN p_SalesManagerId INT,
    IN p_PromoId INT,
    IN p_ProductId INT
)
BEGIN
    -- Check if the user is a Sales Manager
    IF EXISTS (SELECT 1 FROM Sales_Manager WHERE UserId = p_SalesManagerId) THEN
        INSERT INTO Create_Promotion (UserId, PromoId, ProductId)
        VALUES (p_SalesManagerId, p_PromoId, p_ProductId);
    ELSE
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'User is not a Sales Manager';
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_CreateOrder`(IN p_BuyerId INT)
BEGIN
    DECLARE v_CartId INT;
    DECLARE v_OrderId INT;

    -- Error handling
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;

    -- 1. T├¼m cart cß╗ºa buyer
    SELECT CartId INTO v_CartId
    FROM Cart
    WHERE UserId = p_BuyerId
    LIMIT 1;

    -- 2. Nß║┐u c├│ cart v├á c├│ item
    IF v_CartId IS NOT NULL AND EXISTS (SELECT 1 FROM CartItem WHERE CartId = v_CartId) THEN
        
        START TRANSACTION;

        -- 3. Tß║ío Order
        INSERT INTO `Order` (UserId, OrderDate, Status)
        VALUES (p_BuyerId, NOW(), 'Pending');
        
        SET v_OrderId = LAST_INSERT_ID();

        -- 4. Copy parent: CartItem -> OrderDetail
        INSERT INTO OrderDetail (OrdDetail_id, OrderId)
        SELECT ci.CartItemId, v_OrderId
        FROM CartItem ci
        WHERE ci.CartId = v_CartId;
        
        -- 5. Copy detail: CartItem_detail -> Order_are_Detail
        --    KH├öNG truyß╗ün TotalAmount, ─æß╗â trigger tß╗▒ t├¡nh
        INSERT INTO Order_are_Detail (OrdDetail_id, OrderId, ProductId, Quantity)
        SELECT
            cid.CartItemId,
            v_OrderId,
            cid.ProductId,
            cid.Amount
        FROM CartItem_detail cid
        WHERE cid.CartId = v_CartId;

        -- 6. Xo├í cart
        DELETE FROM CartItem_detail WHERE CartId = v_CartId;
        DELETE FROM CartItem WHERE CartId = v_CartId;

        COMMIT;
        
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_CreatePromotion`(
    IN p_SalesManagerId INT,
    IN p_Type VARCHAR(50),
    IN p_Value DECIMAL(10,2),
    IN p_StartPeriod DATE,
    IN p_EndPeriod DATE
)
BEGIN
    -- Check if the user is actually a Sales Manager
    IF EXISTS (SELECT 1 FROM Sales_Manager WHERE UserId = p_SalesManagerId) THEN
        INSERT INTO Promotion (Type, Value, StartPeriod, EndPeriod)
        VALUES (p_Type, p_Value, p_StartPeriod, p_EndPeriod);
    ELSE
        -- Raise an error if user is not authorized
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'User is not a Sales Manager';
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_CreateReport`(
    IN p_AdminId INT,
    IN p_ReportType VARCHAR(50),
    IN p_Content TEXT
)
BEGIN
    -- Check if the user is an Admin
    IF EXISTS (SELECT 1 FROM Admin WHERE UserId = p_AdminId) THEN
        INSERT INTO Report (Content, ReportType, CreationDate, UserId)
        VALUES (p_Content, p_ReportType, NOW(), p_AdminId);
    ELSE
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'User is not an Admin';
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_GetAllProducts`()
BEGIN
    SELECT 
        P.ProductId, 
        P.Name, 
        P.Price, 
        P.Stock, 
        P.Description, 
        OIC.CategoryId
    FROM 
        Product P
    JOIN 
        Organize_in_category OIC ON P.ProductId = OIC.ProductId;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_GetCartDetails`(
    IN p_UserId INT
)
BEGIN
    -- MODIFIED: Must join all 4 tables AND use the new Function
    SELECT 
        p.ProductId,
        p.Name,
        p.Price AS OriginalPrice, -- Gi├í gß╗æc
        fn_GetFinalProductPrice(p.ProductId) AS FinalPrice, -- Gi├í ─æ├ú giß║úm
        cid.Amount,
        (fn_GetFinalProductPrice(p.ProductId) * cid.Amount) AS LineTotal -- Tß╗òng tiß╗ün ─æ├ú giß║úm
    FROM `Cart` c
    JOIN `CartItem` ci ON c.CartId = ci.CartId
    JOIN `CartItem_detail` cid ON ci.CartId = cid.CartId AND ci.CartItemId = cid.CartItemId
    JOIN `Product` p ON cid.ProductId = p.ProductId
    WHERE c.UserId = p_UserId;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_GetOrderDetails`(
    IN p_OrderId INT
)
BEGIN
    -- MODIFIED: Must join the multi-table structure
    -- (Order -> OrderDetail -> Order_are_Detail -> Product)
    SELECT 
        p.ProductId,
        p.Name,
        p.Price AS CurrentProductPrice, -- Gi├í hiß╗çn tß║íi cß╗ºa SP
        oad.Quantity,
        oad.TotalAmount AS LineTotal     -- Gi├í ─æ├ú l╞░u l├║c mua h├áng
    FROM `OrderDetail` od
    JOIN `Order_are_Detail` oad ON od.OrdDetail_id = oad.OrdDetail_id AND od.OrderId = oad.OrderId
    JOIN `Product` p ON oad.ProductId = p.ProductId
    WHERE od.OrderId = p_OrderId;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_GetProductsByCategory`(IN p_CategoryId INT)
BEGIN
    SELECT 
        P.ProductId, 
        P.Name, 
        P.Price, 
        P.Stock, 
        P.Description, 
        OIC.CategoryId 
    FROM 
        Product P
    JOIN 
        Organize_in_category OIC ON P.ProductId = OIC.ProductId
    WHERE 
        OIC.CategoryId = p_CategoryId;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_GetTopBuyersReport`(
    IN p_MinAmount DECIMAL(10,2)
)
BEGIN
    -- (Validation of input parameters)
    IF p_MinAmount < 0 THEN
        SET p_MinAmount = 0;
    END IF;

    SELECT
        b.UserId,
        -- (Aggregate Function)
        IFNULL(SUM(oad.TotalAmount), 0) AS TotalSpent
    -- (Query from two or more tables)
    FROM `Buyer` b
    LEFT JOIN `Order` o ON b.UserId = o.UserId
    LEFT JOIN `OrderDetail` od ON o.OrderId = od.OrderId
    LEFT JOIN `Order_are_Detail` oad ON od.OrdDetail_id = oad.OrdDetail_id AND od.OrderId = oad.OrderId
    
    -- (GROUP BY)
    GROUP BY b.UserId
    
    -- (HAVING clause with input parameter)
    HAVING TotalSpent > p_MinAmount
    
    -- (ORDER BY clause)
    ORDER BY TotalSpent DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_ProcessReferral`(
    IN p_RefereeId INT, -- The new user (who was referred)
    IN p_ReferrerId INT -- The existing user (who did the referring)
)
BEGIN
    INSERT INTO Refer_Id (Referee_Id, Referrer_Id, ReferDate)
    VALUES (p_RefereeId, p_ReferrerId, NOW());
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_RemoveProductFromCart`(
    IN p_CartId INT,
    IN p_ProductId INT
)
BEGIN
    DECLARE v_CartItemId INT;
    
    -- MODIFIED: Find CartItemId using ProductId
    SELECT CartItemId INTO v_CartItemId
    FROM `CartItem_detail`
    WHERE `CartId` = p_CartId AND `ProductId` = p_ProductId;

    IF v_CartItemId IS NOT NULL THEN
        -- MODIFIED: Must delete from both tables (child first)
        DELETE FROM `CartItem_detail` WHERE `CartId` = p_CartId AND `CartItemId` = v_CartItemId;
        DELETE FROM `CartItem` WHERE `CartId` = p_CartId AND `CartItemId` = v_CartItemId;
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_UpdateCartItemQuantity`(
    IN p_CartId INT,
    IN p_ProductId INT,
    IN p_NewQuantity INT
)
BEGIN
    DECLARE v_CartItemId INT;
    
    -- MODIFIED: Find CartItemId using ProductId
    SELECT CartItemId INTO v_CartItemId
    FROM `CartItem_detail`
    WHERE `CartId` = p_CartId AND `ProductId` = p_ProductId;

    IF v_CartItemId IS NOT NULL THEN
        IF p_NewQuantity > 0 THEN
            -- Update quantity if new quantity is positive
            UPDATE `CartItem_detail`
            SET `Amount` = p_NewQuantity
            WHERE `CartId` = p_CartId AND `CartItemId` = v_CartItemId;
        ELSE
            -- Remove item if new quantity is 0 or less
            -- MODIFIED: Must delete from both tables (child first)
            DELETE FROM `CartItem_detail` WHERE `CartId` = p_CartId AND `CartItemId` = v_CartItemId;
            DELETE FROM `CartItem` WHERE `CartId` = p_CartId AND `CartItemId` = v_CartItemId;
        END IF;
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_UpdateOrderStatus`(
    IN p_OrderId INT,
    IN p_NewStatus VARCHAR(50)
)
BEGIN
    UPDATE `Order`
    SET `Status` = p_NewStatus
    WHERE `OrderId` = p_OrderId;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`%` PROCEDURE `sp_UpdateProduct`(
    IN p_ProductId    INT,
    IN p_Name         VARCHAR(50),
    IN p_Price        DECIMAL(10,2),
    IN p_Stock        INT,
    IN p_Description  TEXT,
    IN p_CategoryId   INT
)
BEGIN
    DECLARE v_exists INT;

    -- Handler lß╗ùi: rollback nß║┐u c├│ SQLEXCEPTION
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;

    START TRANSACTION;

    -- 1. Check product tß╗ôn tß║íi
    SELECT COUNT(*) INTO v_exists
    FROM Product
    WHERE ProductId = p_ProductId;

    IF v_exists = 0 THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Product not found';
    END IF;

    -- 2. Check category tß╗ôn tß║íi
    SELECT COUNT(*) INTO v_exists
    FROM Category
    WHERE CategoryId = p_CategoryId;

    IF v_exists = 0 THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Category not found';
    END IF;

    -- 3. Update bß║úng Product
    UPDATE Product
    SET
        Name        = p_Name,
        Price       = p_Price,
        Stock       = p_Stock,
        Description = p_Description
    WHERE ProductId = p_ProductId;

    -- 4. Update mapping ProductΓÇôCategory
    IF EXISTS (
        SELECT 1
        FROM Organize_in_category
        WHERE ProductId = p_ProductId
    ) THEN
        UPDATE Organize_in_category
        SET CategoryId = p_CategoryId
        WHERE ProductId = p_ProductId;
    ELSE
        INSERT INTO Organize_in_category(ProductId, CategoryId)
        VALUES (p_ProductId, p_CategoryId);
    END IF;

    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

USE `pharmacy`;
/*!50001 DROP VIEW IF EXISTS `vw_topbuyers`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_topbuyers` AS select `b`.`UserId` AS `UserId`,ifnull(sum(`oad`.`TotalAmount`),0) AS `TotalSpent` from (((`buyer` `b` left join `order` `o` on((`b`.`UserId` = `o`.`UserId`))) left join `orderdetail` `od` on((`o`.`OrderId` = `od`.`OrderId`))) left join `order_are_detail` `oad` on(((`od`.`OrdDetail_id` = `oad`.`OrdDetail_id`) and (`od`.`OrderId` = `oad`.`OrderId`)))) group by `b`.`UserId` order by `TotalSpent` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!50001 DROP VIEW IF EXISTS `vw_topproducts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_topproducts` AS select `p`.`ProductId` AS `ProductId`,sum(`oad`.`Quantity`) AS `TotalSold` from (`order_are_detail` `oad` join `product` `p` on((`oad`.`ProductId` = `p`.`ProductId`))) group by `p`.`ProductId` order by `TotalSold` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!50001 DROP VIEW IF EXISTS `vw_topsellingproducts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_topsellingproducts` AS select `p`.`ProductId` AS `ProductId`,`p`.`Name` AS `Name`,sum(`oad`.`Quantity`) AS `TotalSold` from (`order_are_detail` `oad` join `product` `p` on((`oad`.`ProductId` = `p`.`ProductId`))) group by `p`.`ProductId`,`p`.`Name` order by `TotalSold` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
